@import url('https://fonts.googleapis.com/css2?family=Inter');
*,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --primary-color: #2E3B52;
    --secondary-color: #606F89;
    --stripes: #F4F7FC;
    --font-primary: 14px;
    --font-secondary: 12px;
    --negative: #E01A1A;
    --positive: #008400;
}

body {
    font-family: Inter;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    position: relative;
    z-index: 10;
}

header {
    padding: 20px 20px 30px;
    background-color: var(--stripes);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    background: #DAE1EC;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    width: 100%;
}

tr th:last-of-type {
    text-align: center;
}

.search i {
    margin-right: 10px;
    color: #7D90B2;
}

i {
    cursor: pointer;
}

.search-input {
    border: 0;
    background: #DAE1EC;
    outline: none;
    color: var(--primary-color);
    width: 85%;
}

.search-input::placeholder {
    font-size: var(--font-primary);
    color: var(--primary-color);
}

table {
    width: 100%;
}

table th {
    padding: 12px 20px;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-align: left;
}

table,
th,
td {
    border-collapse: collapse;
}

table td {
    padding: 12px 20px;
    color: var(--primary-color);
    font-size: var(--font-primary);
}

tr:nth-child(even) {
    background-color: var(--stripes);
}

table thead tr {
    background-color: var(--stripes);
}

h3 {
    text-align: center;
    font-size: var(--font-primary);
    color: var(--primary-color);
    font-weight: 400;
}

.sorting {
    background-image: url(images/sort_both.png);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.name-field {
    background-position: center center;
    width: 190px;
}

.sort-asc {
    background-image: url(images/sort_asc.png);
}

.sort-desc {
    background-image: url(images/sort_desc.png);
}

footer {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--secondary-color);
}

.right-side {
    width: 40%;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chevron-left {
    margin-right: 15px;
}

.fa-chevron-right {
    margin-left: 15px;
}

select {
    border: 0;
    color: #606F89;
    font-size: var(--font-primary);
    outline: none;
}

.inactive {
    padding: 4px 5px;
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 11px;
    color: var(--secondary-color);
}

.active {
    padding: 4px 5px;
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 11px;
    color: var(--secondary-color);
    border: 0;
    color: #ffffff;
    background: #0A65FF;
}

.positive {
    color: var(--positive);
}

.negative {
    color: var(--negative);
}

.customer-name {
    color: var(--primary-color);
    font-size: var(--font-primary);
    font-weight: 600;
    line-height: 17px;
    white-space: nowrap;
}

.client-id {
    color: var(--secondary-color);
    font-size: var(--font-secondary);
}

.description {
    color: var(--primary-color);
    font-size: var(--font-primary);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.inr {
    color: var(--secondary-color);
    font-size: var(--font-secondary);
    text-transform: uppercase;
    text-align: center;
}

.fa-trash-alt {
    color: #7D90B2;
    font-size: 16px;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: #DAE1EC;
    box-shadow: inset 2px 2px 3px #7D90B2, inset -2px -2px 3px #7D90B2;
}

.validation-form {
    padding: 30px;
    background-color: var(--stripes);
    position: relative;
    z-index: 1;
}

form {
    width: 30%;
    margin: auto;
}

.form-container {
    border-bottom: 1px solid var(--primary-color);
}

.add-customer-input {
    border: 0;
    background: #DAE1EC;
    outline: none;
    color: var(--primary-color);
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
}

.add-customer-input::placeholder {
    font-size: var(--font-primary);
    color: var(--primary-color);
    font-family: inherit;
}

.add-customer {
    margin-bottom: 10px;
    color: #7D90B2;
    text-align: center;
}

h2 {
    text-align: center;
    color: #7D90B2;
    margin-top: 10px;
}

.btn-submit-update {
    display: block;
    width: 50%;
    margin: 10px auto;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    font-family: inherit;
    transition: all .5s;
}

.btn-submit-update:hover,
.add:hover {
    background: rgb(2, 71, 190);
}

.error {
    border: 1px solid var(--negative);
}

.success {
    border: 1px solid var(--positive);
}

input.error+small,
textarea.error+small,
select.error+small {
    color: var(--negative);
    visibility: visible;
}

textarea.success+small,
input.success+small,
select.success+small {
    visibility: hidden;
}

.fa-check-circle {
    color: rgb(0, 128, 107);
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}

form>div {
    position: relative;
}

.add {
    max-width: 30%;
    transition: all .5s;
    text-transform: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
}

.add i {
    margin-right: 10px;
}

.notification {
    position: fixed;
    background-color: #7D90B2;
    right: 5%;
    bottom: 5%;
    padding: 5px;
    box-shadow: 2px 2px 10px 4px rgba(46, 46, 51, 0.2);
    border-radius: 5px;
    z-index: 2001;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
    opacity: 1;
}

@keyframes notification-animation {
    0% {
        right: 5%;
        bottom: 100%;
    }
    100% {
        right: 5%;
        bottom: 5%;
    }
}

.animation-drop {
    animation-name: notification-animation;
    animation-duration: 1s;
}

.not-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.fa-times {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--negative);
    cursor: pointer;
    padding: 1px;
    background: white;
}

.fa-times:hover {
    transform: scale(1.2);
}

.progress-bar {
    width: 450px;
    height: 25px;
    background-color: #DAE1EC;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    position: fixed;
    z-index: 600;
    left: 50%;
    transform: translate(-50%);
}

.progress {
    background-color: rgb(24, 170, 73);
    height: 100%;
    width: 0;
    transition: all 1s;
}

.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 500;
}

.flex {
    display: flex;
    gap: 12px;
    color: #7D90B2;
    font-size: 16px;
    position: relative;
}

.selected {
    border-left: 3px solid rgb(2, 71, 190);
    background-color: #ebf2ff !important;
}

.option {
    padding: 4px 10px;
}

.option:hover {
    background: #ebf2ff;
}

.highlight {
    background: #ebf2ff;
    box-shadow: inset 2px 2px 3px #7D90B2, inset -2px -2px 3px #7D90B2;
}

.show-btn {
    display: block;
}

.hide-element {
    display: none;
}

.btn-group {
    display: flex;
    gap: 5px;
}

.fa-trash-alt:hover,
.fa-pen:hover,
.print-selected:hover,
.fa-ellipsis-v:hover {
    color: black;
    transform: scale(1.2);
}

.filter-side {
    display: flex;
    align-items: center;
    gap: 8%;
    min-width: 35%;
}

img[alt="filter"] {
    cursor: pointer;
}

.sort {
    position: absolute;
    background-color: #fff;
    z-index: 500;
    padding: 10px;
    width: 150px;
    box-shadow: 2px 2px 10px 4px rgba(46, 46, 51, 0.2);
    border-radius: 5px;
    pointer-events: visible;
}

.sort h3 {
    margin-bottom: 10px;
    text-align: left;
}

.filter {
    position: relative;
}

.option-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-by-name {
    padding-bottom: 10px;
    border-bottom: 1px solid #ebf2ff;
}

.sort-by-status {
    padding-top: 10px;
}

input[type='radio'],
label {
    cursor: pointer;
}

.delete-selected,
.print-selected {
    position: fixed;
    bottom: 20%;
    left: 2%;
    font-size: 30px;
    z-index: 5000;
    color: #2E3B52;
}

.print-selected {
    margin-left: 40px;
}

.confirm {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgb(211, 228, 222);
    filter: blur(1px);
    z-index: 6000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.confirm-content {
    text-align: center;
    width: 200px;
    height: 100px;
    color: #0b3c91;
    text-transform: uppercase;
    background-color: rgb(220, 230, 226);
    opacity: 1;
}

@media print {
    .inactive {
        border: none;
        border-radius: none;
        background: none;
        color: rgb(10, 10, 10);
    }
    .active {
        border: none;
        border-radius: none;
        border: 0;
        background: none;
        color: rgb(10, 10, 10);
    }
    body {
        visibility: hidden;
    }
    table {
        visibility: visible;
        position: absolute;
        top: 0;
    }
    table,
    th,
    td {
        border-collapse: collapse;
        border: 1px solid black;
    }
    thead tr th:first-child,
    thead tr th:last-child,
    tbody tr td:first-child,
    tbody tr td:last-child {
        display: none;
    }
    .selected {
        border-left: 1px solid black;
    }
}

.fa-plus,
.fa-copy,
.fa-lock,
.fa-unlock {
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: #0A65FF;
    padding: 1px;
    visibility: hidden;
}

.fa-copy {
    left: 50%;
}

.fa-lock,
.fa-unlock {
    left: 90%;
}

.relative {
    position: relative;
}

tbody tr:hover .fa-plus,
tbody tr:hover .fa-copy,
tbody tr:hover .fa-lock,
tbody tr:hover .fa-unlock {
    visibility: visible;
}

tbody tr.selected .fa-plus,
tbody tr.selected .fa-copy,
tbody tr.selected .fa-lock,
tbody tr.selected .fa-unlock {
    color: #2E3B52;
}

.fa-copy:hover,
.fa-plus:hover,
.fa-lock:hover,
.fa-unlock:hover {
    transform: scale(1.2);
}

.options i {
    margin-bottom: 10px;
    color: #454d5a;
}

.options i:hover {
    color: #0A65FF;
    transform: scale(1.2);
}

.circle {
    position: absolute;
    right: 0;
    z-index: 300;
    transform: translateX(30%);
    pointer-events: none;
}

.options {
    position: absolute;
    display: flex;
    color: black;
    flex-direction: column;
    background: #fff;
    z-index: 200;
    padding: 4px 0;
    box-shadow: 2px 2px 10px 2px rgba(46, 46, 51, 0.2);
    transform: translateX(-90%);
    padding: 5px 10px 0;
    pointer-events: visiblePainted;
}

.hide {
    opacity: 0;
}

.display {
    display: none!important;
}